@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Swiss721";
  src:
    url("../../public/fonts/Swis721%20BlkCn%20BT%20Black.woff") format("woff"),
    url("../../public/fonts/Swis721%20BlkCn%20BT%20Black.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffeccf;
    --foreground: white;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  display: none;
}

*::-webkit-scrollbar-thumb {
  background-color: #63738150;
  border-radius: 12px;
}
