@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Swiss721";
  src:
    url("../../public/fonts/Swis721%20BlkCn%20BT%20Black.woff") format("woff"),
    url("../../public/fonts/Swis721%20BlkCn%20BT%20Black.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  display: none;
}

*::-webkit-scrollbar-thumb {
  background-color: #63738150;
  border-radius: 12px;
}

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #171717;
    --card: #ffffff;
    --card-foreground: #171717;
    --popover: #ffffff;
    --popover-foreground: #171717;
    --primary: #171717; /* or your brand color */
    --primary-foreground: #ffffff;
    --secondary: #f2f2f2; /* light gray */
    --secondary-foreground: #171717;
    --muted: #f2f2f2;
    --muted-foreground: #7e7e7e;
    --accent: #f2f2f2;
    --accent-foreground: #171717;
    --destructive: #ff4d4f; /* red for errors */
    --destructive-foreground: #ffffff;
    --border: #e5e5e5;
    --input: #e5e5e5;
    --ring: #171717;
    --chart-1: #f97316; /* optional charts */
    --chart-2: #10b981;
    --chart-3: #3b82f6;
    --chart-4: #facc15;
    --chart-5: #ec4899;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
